/*******************
Global
********************/
body.overcast { background-color: $blue_d; }
body.sunset { background-color: $red_c; }


/********************
Structure
********************/
footer { padding: 90px 0 70px; }
.overcast footer { background-color: $blue_b; }
.sunset footer { background-color: $red_b; }


/********************
Splash Screen
********************/
#splash { 
	width: 220px;
	margin: 0 auto;
	position: relative;
}
#splash #logo {
	height: 180px;
	display: block;
	position: absolute;
	margin-top: -90px;
	z-index: 3;
	top: 30%;
	width: 200px;
}
#splash .logo-font { color: $red; font-size: 6em; }
.preloader {
	width: 16px;
	height: 16px;
	display: block;
	background-image: url('../img/loader.gif');
	margin: 20px auto 0;
}


/********************
About
********************/
#about { z-index: 10; }
#about .resume {
	background-color: $daylight; 
	border-top-left-radius: 1em;
	border-top-right-radius: 1em;
	padding-bottom: 18%;
}
.overcast #about .resume { background-color: $overcastlight; }
.sunset #about .resume { background-color: $sunsetlight; }
.resume p, 
.description p { margin: 0 1em 2em; }
#about .socials { margin-top: 30px; }
.sunset #about { background-color: $red_a; }
.overcast #about { background-color: $blue_a; }

/********************
Projects
********************/
#projects { z-index: 10; }
.project-item { 
	background-color: $daylight; 
	border-radius: 0.7em; 
	margin-bottom: 3em;
}
.overcast .project-item { background-color: $overcastlight; }
.sunset .project-item { background-color: $sunsetlight; }
.sunset .browser-top circle { fill: $red_g; }
.sunset #projects { background-color: $red_a; }
.overcast #projects { background-color: $blue_a; }

/********************
Contact
********************/
#contact { z-index: 14;}

#contact .plzi-content { font-size: 0; }
#contact .wrapper {
	width: 100%;
	background-color: $blue_a;
	padding-bottom: 20px;
}
.sunset #contact { background-color: $red_g; }
.overcast #contact { background-color: $blue_g; }
.sunset #contact .wrapper { background-color: $red_a; }
.overcast #contact .wrapper { background-color: $blue_a; }
.sunset #contact #pl-1 svg path { fill: $red_a; }


/********************
Customs
********************/
/* Social Buttons */
.socials { text-align: center; }
.socials a {
	width: 120px;
	display: inline-block;
	margin-left: auto;
	margin-right: auto;
	text-decoration: none; 
	margin-bottom: 40px;
}
.overcast .socials a { color: $blue_g; fill: $blue_g; }
.sunset .socials a { color: $red_g; fill: $red_g; }
.socials a h4 {
	margin-top: 0.6em;
	text-transform: uppercase;
	color: inherit;
	font-size: 0.8em;
	letter-spacing: 0.05em;
}
.overcast .socials.on-light a:hover { color: $blue_b; fill: $blue_b; }
.sunset .socials.on-light a:hover { color: $red_a; fill: $red_a; }
.socials.on-dark a:hover { color: $daylight; fill: $daylight; }

/* Tags */
.tags { padding-bottom: 2em; }
.tags li {
	display: inline-block;
	color: white;
	background-color: $blue_f;
	padding: 0.4em 1.4em;
	margin: 0 0.6em 0.6em 0;
	font-weight: 200;
	font-size: 0.6em;
	letter-spacing: 0.05em;
	text-transform: uppercase;
	@include border-radius(1em);
}
.overcast .tags li { background-color: $blue_g; }
.sunset .tags li { background-color: $red_g; }

/* Top Buttons */
#menu-button {
	display: none;
	margin: 12px;
	cursor: pointer;
	z-index: 20;
	position: fixed;
	top: 0; right: 0;
	width: 2em; height: 2em;
	padding: 0.2em 0.6em;
	background-color: $darkgray;
	@include border-radius(0.6em);
}
#menu-button svg { padding: 0.25em 0 0 0.2em; }
#menu-button:hover svg path { fill: white; }
#theme-button {
	margin: 12px;
	cursor: pointer;
	z-index: 20;
	position: fixed;
	top: 0; left: 0;
	width: 2em; height: 2em;
	padding: 0.2em 0.6em;
	background-color: $darkgray;
	@include border-radius(0.6em);
}
#theme-button svg { padding: 0.2em; }
.overcast #theme-button:hover path { fill: $red_g; }
.sunset #theme-button:hover path { fill: $blue_g; }
#theme-button svg { display: none; }
.overcast #sunset-button,
.sunset #overcast-button { display: block; }