@media only screen and (max-width: 480px) {
	#frame .side-tree { width: 20%; } // Thinner side trees
	.pl-anchor { width: 650px; }
	#menu-button { display: block; }
	section .navbar { display: none; }
	.resume, .projects { margin-top: 30px; }
}
@media only screen and (max-width: 767px) {
	p { font-size: 1em; }
	.tags { text-align: center; }
	#projects .socials { padding-top: 30px;  }
	h1.heading { padding-top: 1em; }
}