/**
* Colors
*/
$red: #e2534e;
$daylight: #e0eee2;
$darkgray: #1c2528; // L6 darkgray

/* Overcast */
$overcastlight: #e0eee2;
$blue_a: #151d20; // Darkblue
$blue_b: #1c2528; // L6 darkgray
$blue_c: #1e2e36; // L5 
$blue_d: #1f464c; // L4 
$blue_e: #2c5a61; // L3 lightdarkblue
$blue_f: #4a747b; // L2 lightblue
$blue_g: #79a4a3; // L1 Waterblue

/* Sunset */
$sunsetlight: #f9f9f5;
$red_a: #1a0a19; // Dark
$red_b: #2e112d; // L6 
$red_c: #540031; // L5
$red_d: #850333; // L4
$red_e: #c8253a; // L3
$red_f: #ec3e35; // L2
$red_g: #f7bc86; // L1

/**
* Font
*/
$font-family: 'Open Sans', sans-serif;
$title-font-family: 'Oswald', sans-serif;
$sub-font-family: 'Ovo', serif;

