/********************
Colors
********************/
$red: #e2534e;
$daylight: #e0eee2;
$darkgray: #1c2528;

/* Overcast */
$overcastlight: #e0eee2;
$blue_a: #151d20; 
$blue_b: #1c2528; // Darkgray
$blue_c: #1e2e36; 
$blue_d: #1f464c; 
$blue_e: #2c5a61; 
$blue_f: #4a747b; 
$blue_g: #79a4a3; 

/* Sunset */
$sunsetlight: #f9f9f5;
$red_a: #1a0a19; 
$red_b: #2e112d; 
$red_c: #540031; 
$red_d: #850333; 
$red_e: #c8253a; 
$red_f: #ec3e35; 
$red_g: #f7bc86; 

/********************
Fonts
********************/
$font-family: 'Open Sans', sans-serif;
$title-font-family: 'Oswald', sans-serif;
$sub-font-family: 'Ovo', serif;

